.article__page-container {
	margin-bottom: 20px;
}

.article {

}

.article-text {
	padding: 25px 0;
}

.article-image {
	img {
		padding-bottom: 30px;
		&:last-child {
			padding-bottom: 0;
		}
	}
}


.article__tags {
	text-align: center;
	padding: 0;
	li {
		border: 1px solid #778189;
		text-transform: uppercase;
		padding: 4px 9px;
		font-size: 12px;
		margin: 0 4px 8px 0;
	}
}

.article__details {
	padding: 10px 0 20px;
}

.article__author {
	font-size: 14px;
}

.article__date {
	font-size: 14px;
}

.article__introduction {
	font-size: 18px;
	font-style: italic;
	font-family: $tisa-pro-light;
	padding: 10px 0 20px;
}

.article__content {
	font-family: $tisa-pro-light;
}

.article__question {
	font-weight: 700;
	padding-bottom: 5px;
}

.article__answer {
    padding-bottom: 15px;
}

.icon-links--article {
    color: #ec708a;
    border-color: #ec708a;
    padding-left: 0;
    margin-left: 0;
    list-style: none;
	padding-bottom: 20px;
    .icon-link {
    	display: inline-block;
    	padding-right: 5px;
    	padding-left: 5px;
		width: 50px;
		&:first-child {
    	}
    }
}


.article-text {
	padding: 25px 8.333%;
	z-index: 2; 
}

.carousel {
	padding-top: 25px;
	padding-bottom: 25px;
}

.article-quote {
	padding-top: 25px;
	padding-bottom: 25px;
}

.article-image {
	padding-top: 25px;
	padding-bottom: 25px;
}

.article-soundcloud {
	padding-top: 25px;
	padding-bottom: 25px;
}


@media (min-width: 767px) {

	.category__group--article {
		border-bottom: 1px solid $black;
	}

	.article__first-section {
		margin-top: -30%;
	}



	.icon-links--article {
	    color: #ec708a;
	    border-color: #ec708a;
	    padding: 0;
	    width: 50px;
	    position: absolute;
	    left: 0;
	    .icon-link {
	    	padding: 11px;
	    	margin-left: 0;
	    	margin-top: -1px;
	    	width: 100%;
	    	&:first-child {
	    		margin-top: 0;
	    	}
	    }
	}
}

@media (min-width: 992px) {


}