.features {
    padding: 10px 0 0 0;
    z-index: -1; // just for sliding over with social media stuff
}
.headline__front-page--large {
	padding: 5px 0 5px 0;
}

.headline__front-page--small {
	margin-top: 10px;
	padding: 5px 0 5px 0;
}

.article {
	// todo: remove, just for prototype purposes
	img, h3 {
		cursor: pointer;
	}
}

.article--small {
	.headline {
		margin-top: 10px;
	}
	.date {
		margin-top: 20px;
	}
}

.article--large {
	padding-top: 10px;
	padding-bottom: 40px;
	.date {
		margin-bottom: 10px;
	}

}

.features__more-articles {
	padding-bottom: 20px;
}



@media (min-width: 768px) {

	.article--large {
	    padding-top: 20px;
	}

	.features {
	    padding: 60px 0 0 0;
	}

	.headline__front-page--large {
		margin: 0 0 20px;
	}
	.features__more-articles {
		padding-top: 20px;
		padding-bottom: 60px;
	}
	
	.article--large__image {
		padding-right: 8.33333%;
	}
}