.features {
    padding: 10px 0 0 0;
    z-index: -1; // just for sliding over with social media stuff
}
.headline__front-page--large {
	padding: 20px 0 5px 0;
}

.headline__front-page--small {
	margin-top: 10px;
	padding: 5px 0 5px 0;
}

.article {
	// todo: remove, just for prototype purposes

	img, h3 {
		cursor: pointer;
	}
}

.article__text {
	padding: 0 15px;
}

.article--small {
	border-top: 20px solid #EEEEEE;
	.headline {
		margin-top: 10px;
	}
	.date {
		margin-top: 20px;
	}
}

.article--large {
	padding-top: 10px;
	padding-bottom: 30px;
	.date {
		margin-bottom: 10px;
	}
	.col-sm-8 {
		padding: 0;
	}
}

.front-page__more-link--large {
	span {
		border: 1px solid;
		padding: 10px;
	}
	position: relative;
	padding: 10px 0;
	margin: 15px;
	text-align: right;
}

.front-page__more-link--small {
	text-align: right;
	padding: 10px 15px;
	span {
		padding: 10px 15px;
		border: 1px solid;
	}
}

.front-page__more-features-link {
	padding: 10px 15px;
	margin-top: 30px;
	span {
		padding: 10px 15px;
		border: 1px solid;
	}
}

.features__more-articles {
	padding-bottom: 20px;
}



@media (min-width: 768px) {

	.article--large {
	    padding-top: 20px;
	}

	.features {
	    padding: 60px 0 0 0;
	}

	.headline__front-page--large {
		margin: 0 0 20px;
	}
	.features__more-articles {
		padding-top: 20px;
		padding-bottom: 60px;
	}
	
	.article--large__image {

	}

	.front-page__more-link--large {
		span {
			border: 0;
		}
		padding: 10px;
		border: 1px solid;
		bottom: 0;
		position: absolute;
		right: 0;
		margin: 15px;
	}
}