
// Vertically centers text while keeping whole height of container
// http://stackoverflow.com/questions/28254332/how-to-vertically-center-the-contents-of-a-flexbox-item
.front__showpiece__cutoff__text {
	background-color: #7a8893;
	align-self: stretch;
	display: flex;
	align-items: center;
}

.front__showpiece__cutoff__text__wrap {
	width: 100%;
	margin-left: 0%;
	padding: 0 15px 40px 15px;
}

.front__showpiece__cutoff__image {
	position: relative;
	&:after {
	    content: ' ';
	    background-image: url('/source/img/cutoff-light-blue.svg');
	    height: 100px;
	    bottom: 0;
	    width: 100%;
	    position: absolute;
	    left: 0;
	    background-size: 100% 100%;
	    display: block;
	}
}

// Thin Image/text with equalizer graphic behind it
.equaliser-line {
	background-color: #D4D4D4;
	background-image: url('/source/img/eq-line.jpg');
	background-repeat: repeat-x;
	background-position: 25% 25%;
}

.front__showpiece__inline__text__wrap {
    width: 100%;
    margin-left: 0;
    background-color: #D4D4D4;
    padding: 20px 0;
}

// Background Image
.front__showpiece__background-image {
	position: relative;
}

.front__showpiece__background-image__text-wrapper {
	height: 100%;
	display: table;
}

.front__showpiece__background-image__text {
	display: table-cell;
	vertical-align: middle;
}

.front__showpiece__50-50__border {
	padding: 40px 15px;
}

.front__showpiece__inline {
	padding: 20px 0 0;
}



@media (min-width: 768px) {

	.front__showpiece__cutoff {
		display: flex;
		align-items: stretch;
		border-top: 1px solid #3D4550;
	}

	.front__showpiece__50-50__wrapper {
		display: flex;
		align-items: center;
		align-content: stretch;
		padding: 60px 0;
	}

	.front__showpiece__50-50__border {
		border-right: 1px solid;
		padding: 40px 0;
	}

	.front__showpiece__cutoff__image {
		position: relative;
		&:after {
			content: ' ';
			background-image: url("/source/img/vertical-cutoff--blue.svg");
			height: 100%;
			left: 100%;
			width: 27%;
			position: absolute;
			top: 0;
			margin-left: -27%;
		}
	}

	.front__showpiece__inline__text__wrap {
		padding: 20px 10px 20px 20px;
	}

	// Thin Image/text with equalizer graphic behind it
	.equaliser-line {
		padding: 100px 0;
		background-image: url('/source/img/eq-line.jpg');
		background-repeat: repeat-x;
		background-position: 50% 50%;
	}

	.front__showpiece__inline {
		display: flex;
		align-items: center;
		padding: 0;
	}
	.front__showpiece__cutoff__text__wrap {
		width: 70%;
		margin-left: 5%;
		padding: 0;
	}
}

@media (min-width: 992px) {
	.front__showpiece__inline__text__wrap {
		width: 60%;
		margin-left: 20%;
		padding: 20px;
	}

}