// Colours
$header-front-colour: #222629;
$header-blue: #3d4550;
$white: #d3d3d3;
$yellow: #faeb14;
$grey: #eee;

.header-front-colour {
	color: $header-front-colour;
}

.header-blue {
	color: $header-blue;
}	
.white {
	color: $white;
}
.yellow {
	color: $yellow;
}
.grey {
	color: $grey;
}

.background-colour-grey {
	background-color: $grey;
}

// Images 

.responsive-image {
	width: 100%;
	height: auto;
}

// Lists

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

// Adjustments
.relative {
	position: relative;
}

.remove-padding {
	padding: 0;
}

.absolute-container {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	padding: 0; // facilitates background color on hero text
}


// Vertical Align
.vertical-align {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.vertical-align--top {
	vertical-align: top;
}

.vertical-align--bottom {
	vertical-align: bottom;
}


@media (max-width: 767px) {


}

@media (min-width: 768px) {
	.absolute-container {
		left: 50%;
		margin-left: -375px; // to center div, .container width for pos:abs
		width: 750px;
	}
}

@media (min-width: 992px) {
	.absolute-container {
		margin-left: -485px; // to center div, .container width for pos:abs
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.absolute-container {
		margin-left: -585px; // to center div, .container width for pos:abs
		width: 1170px;
	}
}