// Colours
$header-front-colour: #3d4550; // 0d1315 // 3d4550
$header-front-colour-light: #4E5865;
$header-blue: #3d4550;
$white: #d3d3d3;
$blue: #778189;
$yellow: #faeb14;
$grey: #eee;
$black: #3d4550;
$pink: #ec7595;

.header-front-colour {
	color: $header-front-colour;
}

.header-blue {
	color: $header-blue;
}	
.white {
	color: $white;
}

.fff {
	color: #fff;
}

.yellow {
	color: $yellow;
}

.grey {
	color: $grey;
}

.pink {
	color: $pink;
}

.background-colour-grey {
	background-color: $grey;
}

.background-fff {
	background-color: #fff;
}

// Images 

.responsive-image {
	width: 100%;
	height: auto;
}

.flip-image {
	transform: scaleX(-1);
}

.fixed {
	position: fixed;
	top: 0;
	width: 100%;
}

.fixed--bottom {
	position: fixed;
	bottom: 0;
	width: 100%;
}

// Lists

ul {
	margin-bottom: 0;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

// Adjustments

body {
	margin: 0;
}


.relative {
	position: relative;
}

.remove-padding {
	padding: 0;
}

.absolute-container {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	padding: 0; // facilitates background color on hero text
}

.appear {
	display: block!important;
}

.disappear {
	display: none!important;
}

.show-inline-block {
	display: inline-block!important;
}

// Vertical Align
.vertical-align {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.vertical-align--top {
	vertical-align: top;
}

.vertical-align--bottom {
	vertical-align: bottom;
}

a, a:hover {
	color: inherit;
	text-decoration: inherit;
}

.header-cutoff {
	path {
		fill: $header-blue;
	}
}

.white-cutoff {
	path {
		fill: #fff;
	}
}

.lightgrey-cutoff {
	path {
		fill: #eee;
	}
}

.flip {
	transform: scaleX(-1);
}

.high-z-index {
	z-index: 70;
}

.hide-overflow {
	overflow: hidden;
}

// used with a container set to overflow hidden
// https://css-tricks.com/fluid-width-equal-height-columns/ - One True Layout Method
.baseline-align {
	padding-bottom: 99px;
	margin-bottom: -99px;
}


@media (max-width: 767px) {
	// /* http://stackoverflow.com/questions/16637031/completely-disable-scrolling-of-webpage */
	// Powers header on mobile only scrolling
	body, html { 
		// did have this as 100% but made a weird bug
		// didn't enclose the whole page
		height: auto;  
	}

	.content-wrap-hide {
		height: 100%; 
		overflow: hidden;
	}

	.content-wrap-visible {
		height: 100%; 
		overflow: auto;
	}

	.mobile-scroll {
		overflow-y: auto;
		height: 100%;
	}

}

@media (min-width: 768px) {
	.absolute-container {
		left: 50%;
		margin-left: -360px; // to center div, .container width for pos:abs
		width: 720px;
	}
}

@media (min-width: 992px) {
	.absolute-container {
		margin-left: -470px; // to center div, .container width for pos:abs
		width: 940px;
	}
}

@media (min-width: 1200px) {
	.absolute-container {
		margin-left: -570px; // to center div, .container width for pos:abs
		width: 1140px;
	}
}