.header {
	color: $white;
	position: relative;
	z-index: 99;
	transition: top 0.4s ease-in-out;
	top: 0;
}

.header-background {
	background-color: #3D4550;
	position: relative;
	z-index: 99;
}

.nav-up {
    top: -70px;
}

.logo {
	padding: 15px;
	border-bottom: 1px solid $white;
	background-color: $header-front-colour;
}

.hamburger {
	float: right;
	padding-top: 10px;
	height: 30px;
	cursor: pointer; // todo: remove
}

.logo__img {
	width: 138px;
}

.header__mobile-collapse {
	display: block;
	z-index: 99;
}

.navigation {
	padding: 0;
}


.navigation__item {
	padding: 5px 15px;
	background-color: $header-front-colour;
	border-bottom: 1px solid $white;
	&.selected {
		background-color: #faeb14;
		color: #3d4550;
	}
}

.navigation__category-images {
	width: 100px;
	padding: 15px 0;
}

.navigation__category-text {

}

.navigation__product-categories {
	// margin-top: 6px; // cancel out padding & border of li parent
	padding: 0;
	border-bottom: 1px solid $white;
	margin-bottom: -1px;
	position: relative;
	display: none;
	li {
		width: 50%;
		display: inline-block;
		position: relative;
		border-bottom: 1px solid $white;
		padding-bottom: 8px;
		&:nth-of-type(even) {
			margin-left: -4px;
		}
		&:nth-of-type(odd):after {
			content: ' ';
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			width: 1px;
			background-color: $white;
		}
	}
	.header--front {
		padding: 0 15px; // replaces .container
	}
}

.more-links {
	// background-color: $header-front-colour;
	padding: 0;
	overflow: hidden;
	padding-bottom: 0;
	position: absolute;
	z-index: 3;
	li {
		cursor: pointer;  // todo: remove
	}
}

// Menu item that has been clicked
.navigation-selected {
	padding: 0;
	background-color: transparent;
}


// Icon Links
.icon-links {
	padding: 10px 0;
	z-index: 2;
	background-color: $header-front-colour;
}

.icon-link {
	padding: 5px;
	border: 1px solid;
	width: 30px;
	text-align: center;
	margin-left: -4px;
	&:first-child {
		margin-left: 0;
	}
}


.dropdown-menu-location__fullscreen {
	position: relative;
}

.more-links__dropdowns {
	z-index: -1;
	width: 100%;
	// background-color: $header-front-colour-light;
	text-align: center;
	font-size: 12px;
	font-family: $brown-regular;
	li {
		padding-top: 2px;
		padding-bottom: 2px;
		border-bottom: 1px solid $white;
		&:last-child {
			border-bottom: 0;
		}
	}
}

.more-links__dropdown {
	display: none;
	background-color: $header-front-colour-light;
}

.search__dropdown {
	padding: 3px;
	div {
		padding-bottom: 3px;
	}
	input {
		width: 100%;
	}
}

.dealer__dropdown {
	cursor: pointer;  // todo: remove
}

.dealer__button{
	img {
		height: 17px;
	}
}


@media (max-width: 767px) {
	.header__mobile-collapse {
	    width: 100%;
	    position: absolute;
	    z-index: 5;
	    display: none; // on initial load
	    padding: 0;
	}	

	.dropdown-menu-location__fullscreen {
		display: none;
	}
	
	.navigation-selected {
		& > div {
			background-color: $yellow;
			color: $header-front-colour;
			border-bottom: none;
			padding: 5px 15px;
			width: 100%;
		}
	}
	
	.navigation__product-categories {
		li {
			stroke: $white;
			fill: none;
			&:hover {
				background-color: $yellow;
				color: $header-front-colour;
				svg path {
					stroke: $header-front-colour;
				}
			}
		}
	}

	.navigation__product-categories:before {
	    content: ' ';
	    background-color: rgba(0,0,0,0.7);
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    left: 0;
	    z-index: -1;
	}

	.navigation__item {
		font-size: 14px;
	}

	.mobile-menu {
		// display:none;
	}

	.more-links {
	    padding: 0;
	}

	.icon-links {
		padding: 10px 15px;
	}

	// when mobile view hide all submenus used in larger screen modes
	.dropdown-menu__hidden {
	display: none;
	}
	
}

.fixed-header {
	position: fixed;
	width: 100%;
}

@media (min-width: 768px) {

	.header {

	}

	.navigation--parent {
		background-color: $header-front-colour;
	}
	.navigation__parent-list {
		
	}

	.navigation__item--parent {
		display: inline-block;
		& > .navigation__product-categories {
			display: none;
		}
	}

	.navigation__product-categories {
		position: absolute;
		border-top: 0;
		background-color: $header-front-colour-light;
		color: $white;
		z-index: 1;
		width: 100%;
		border-bottom: none;
		margin-bottom: 0;
		bottom: 0;				
		li {
			width: 25%;
			border-bottom: 0;
			text-align: center;
			margin: 10px 0;
			padding: 0 20px;
			cursor: pointer; // todo: remove
			margin-left: -4px;
			&:nth-of-type(5n+1) {
				margin-left: 0;
			}
			&:nth-of-type(even):after {
				content: ' ';
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				width: 1px;
				background-color: #636E7B;
			}
			&:nth-of-type(odd):after {
				background-color: #636E7B;
			}
			&:last-child:after {
				width: 0;
			}
			&:hover {
				color: $yellow;
				svg path {
					stroke: $yellow;
				}
			}
			svg path {
				stroke: $white;
				fill: none;
			}
		}
	}

	.pull-down {
		top: 100%;
		transition: 1s;
	}

	.header__mobile-collapse {
		margin-left: -4px;
		display: inline-block;
		padding: 0px 0 19px 0;
	}

	.logo {
		border-bottom: none;
	}

	.navigation__item {
		border-bottom: none;
		cursor: pointer; // todo: remove
		padding: 0 7.5px;
		&.selected {
			background-color: transparent;
			color: #faeb14;
		}
	}

	.navigation__category-images {
	    padding: 5px 0 5px;
	}

	.more-links {
		margin-left: -4px;
		.list-inline {
			margin-left: 0; // gets rid of some bootstrap thing
		}
	}

	.header--front {
		background-color: $header-front-colour;
	}

	.navigation-selected {
		color: #faeb14;
	}

	.navigation-selected__text {
		background-color: $header-front-colour;
		border-bottom: none;
		padding: 0;
		width: inherit;
	}

	.icon-links {
		padding: 0
	}

	.icon-link {
		width: 25%;
	}	
	.more-links__dropdowns {
		position: absolute;
		bottom: 0;

	}
	.hamburger {
		display: none;
	}
	// hide the mobile submenu view (if open) when switched to larger screen mode 
	.navigation--parent > ul > .navigation__product-categories  {
		display: none!important;
	}
}

@media (min-width: 992px) {
	.more-links {
		top: -10px;
	}
	.header__mobile-collapse {
		padding: 0px 0 20px 0;
	}
}