.header {
	color: $white;
	position: relative;
	z-index: 99;
	transition: top 0.4s ease-in-out;
	top: 0;
}

.header-background {
	background-color: #3D4550;
	position: relative;
	z-index: 99;
}

.nav-up {
    top: -75px;
}

.logo {
	padding: 20px 15px 15px;
	border-bottom: 1px solid $white;
	background-color: $header-front-colour;
}

.hamburger {
	float: right;
	padding-top: 10px;
	height: 30px;
	cursor: pointer; // todo: remove
}

.logo__img {
	width: 138px;
}

.header__mobile-collapse {
	display: block;
	z-index: 99;
}

.navigation {
	padding: 0;
}


.navigation__item {
	padding: 5px 15px;
	background-color: $header-front-colour;
	border-bottom: 1px solid $white;
	&.selected {
		background-color: #faeb14;
		color: #3d4550;
	}
}

.navigation__category-images {
	width: 100px;
	padding: 15px 0;
}

.navigation__category-text {

}

.navigation__product-categories {
	// margin-top: 6px; // cancel out padding & border of li parent
	padding: 0;
	border-bottom: 1px solid $white;
	margin-bottom: -1px;
	position: relative;
	display: none;
	li {
		width: 50%;
		display: inline-block;
		padding-bottom: 8px;
		&:nth-of-type(even) {
			margin-left: -4px;
		}
		&:nth-of-type(odd):after {
			content: ' ';
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			width: 1px;
			background-color: $white;
		}
		/* credit: http://codepen.io/Merri/pen/ptwcg?editors=010 */
		&:before {
		  border-top: 1px solid #fff;
		  content: '';
		  left: 0;
		  margin-top: -1px;
		  position: absolute;
		  width: 100%;
		}

		&:after {
		  border-left: 1px solid #fff;
		  content: '';
		  display: block;
		  height: 100%;
		  margin-left: 0;
		  position: absolute;
		  top: 0;
		}
	}
	.header--front {
		padding: 0 15px; // replaces .container
	}
}

.more-links {
	// background-color: $header-front-colour;
	padding: 0;
	padding-bottom: 0;
	position: absolute;
	z-index: 3;
	li {
		cursor: pointer;  // todo: remove
	}
	// this hides the dropdowns when they slide in

}

// Menu item that has been clicked
.navigation-selected {
	padding: 0;
	background-color: transparent;
}


// Icon Links
.icon-links {
	padding: 10px 0;
	z-index: 2;
	background-color: $header-front-colour;
}

.icon-link {
	padding: 5px;
	border: 1px solid;
	width: 40px;
	text-align: center;
	margin-left: -4px;
	&.selected {
		background-color: #FAEB14;
		color: #3D4550;
		border-color: #FAEB14;
	}
	&:first-child {
		margin-left: 0;
	}
}

.dropdown-menu-location__fullscreen {
	position: relative;
}

.more-links__dropdowns {
	z-index: -1;
	width: 100%;
	// background-color: $header-front-colour-light;
	text-align: center;
	font-size: 12px;
	font-family: $brown-regular;
	height: 100%;
	li {
		padding-top: 8px;
		padding-bottom: 8px;
		border-bottom: 1px solid $white;
		&:last-child {
			border-bottom: 0;
		}
	}
}

.more-links__dropdown {
	display: none;
	background-color: $header-front-colour-light;
	position: relative;
	border-bottom: 1px solid #d3d3d3;
}

.search__dropdown {
	padding: 8px 8px 16px;
	div {
		padding-bottom: 8px;
	}
	input {
		width: 100%;
		color: #3D4550;

	}
}

.dealer__dropdown {
	cursor: pointer;  // todo: remove
	padding: 8px 0;
}

.dealer__button{
	img {
		height: 14px;
	}
}


@media (max-width: 767px) {
	.header__mobile-collapse {
	    width: 100%;
	    position: absolute;
	    z-index: 5;
	    display: none; // on initial load
	    padding: 0;
	}	

	.dropdown-menu-location__fullscreen {
		display: none;
	}
	
	.navigation-selected {
		& > div {
			background-color: $yellow;
			color: $header-front-colour;
			border-bottom: none;
			padding: 5px 15px;
			width: 100%;
		}
	}
	
	.navigation__product-categories {
		li {
			stroke: $white;
			fill: none;
			&:hover {
				background-color: $yellow;
				color: $header-front-colour;
				svg path {
					stroke: $header-front-colour;
				}
			}
		}
	}

	.navigation__product-categories:before {
	    content: ' ';
	    background-color: rgba(0,0,0,0.8);
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    left: 0;
	    z-index: -1;
	}

	.mobile-menu {
		// display:none;
	}

	.more-links {
	    padding: 0;
	}

	.icon-links {
		padding: 10px 15px;
	}

	// when mobile view hide all submenus used in larger screen modes
	.dropdown-menu__hidden {
	display: none;
	}

	.nav-up {
	    top: 0;
	}

	.cover {
	    height: 100%;
	    width: 100%;
	    top: 0;
	    left: 0;
	    position: absolute;
	}
}

.fixed-header {
	position: fixed;
	width: 100%;
}

@media (min-width: 768px) {

	.header {

	}

	.navigation--parent {
		background-color: $header-front-colour;
	}
	.navigation__parent-list {
		
	}

	.navigation__item--parent {
		display: inline-block;
		& > .navigation__product-categories {
			display: none;
		}
	}

	.navigation__product-categories {
		position: absolute;
		border-top: 0;
		background-color: $header-front-colour-light;
		color: $white;
		z-index: 1;
		// width: 100%;
		width: 750px;
		padding: 0 15px;
		border-bottom: none;
		margin-bottom: 0;
		top: 0;		
		// left: 0;		
		li {
			width: auto;
			border-bottom: 0;
			text-align: left;
			margin: 10px 0;
			padding: 0 15px 5px;
			cursor: pointer; // todo: remove
			margin-left: -4px;
			position: relative;
			vertical-align: bottom;
			&:after {
			  border-left: 0;
			}
			&:nth-of-type(4n+1) {
				margin-left: 0;
			}
			// remove this for borders
			&:nth-of-type(odd):after {
				content: '';
				width: 0;
			}
			&:nth-of-type(even):after {
				content: ''; // enable these for borders
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				width: 0; // enable these for borders
				background-color: #636E7B;
			}
			&:nth-of-type(4n+4):after {
				background-color: transparent;
			}
			&:nth-of-type(odd):after {
				background-color: #636E7B;
			}
			&:last-child:after {
				width: 0;
			}
			&:hover {
				color: $yellow;
				svg path {
					stroke: $yellow;
				}
			}
			&:before {
			  border-top: 0;
			}
			svg path {
				stroke: $white;
				fill: none;
			}
		}
	}

	.dropdown-menu__hidden {
		// position: relative;
		// width: 100%;
		position: relative;
		background-color: $header-front-colour-light;
	}

	.pull-down {
		top: 100%;
		transition: 1s;
	}

	.header__mobile-collapse {
		margin-left: -5px;
		display: inline-block;
		padding: 0px 0 13px 0;
	}

	.logo {
		border-bottom: none;
	}

	.navigation__item {
		border-bottom: none;
		cursor: pointer; // todo: remove
		padding: 5px 7.5px 5px;
		&.selected {
			background-color: transparent;
			color: #faeb14;
		}
	}

	.navigation__category-images {
	    padding: 5px 0 5px;
	}

	.more-links {
		margin-left: -4px;
		bottom: 19px;
		text-align: right;
		padding-right: 11px;
		.list-inline {
			margin-left: 0; // gets rid of some bootstrap thing
		}
		&:before {
		    content: ' ';
		    width: 100%;
		    height: 100%;
		    background-color: #3D4550;
		    bottom: 100%;
		    left: 0;
		    position: absolute;
		}
	}


	.more-links__dropdown {
		border: 1px solid #d3d3d3;
		border-top: 0;
		li {
			padding-top: 4px;
			padding-bottom: 4px;
		}
	}

	.search__dropdown {
		padding: 4px 4px 8px;
		div {
			padding-bottom: 4px;
		}
	}

	.dealer__dropdown {
		cursor: pointer;  // todo: remove
		padding: 4px 0;
	}

	.header--front {
		background-color: $header-front-colour;
		height: 70px;
	}

	.navigation-selected {
		color: #faeb14;
	}

	.navigation-selected__text {
		background-color: $header-front-colour;
		border-bottom: none;
		padding: 0;
		width: inherit;
	}

	.icon-links {
		padding: 0
	}

	.icon-link {
		width: 25%;
		&.selected {
			border-color: #D3D3D3;
			background-color:  #4E5865;
			border-bottom: 1px solid #d3d3d3;
			color: #D3D3D3;
		}
	}	
	.more-links__dropdowns {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 128px;
		margin-right: 11px;

	}
	.hamburger {
		display: none;
	}
	// hide the mobile submenu view (if open) when switched to larger screen mode 
	.navigation--parent > ul > .navigation__product-categories  {
		display: none!important;
	}
}

@media (min-width: 992px) {

	.icon-link {
		width: 40px;
		&.selected {
			background-color: #4E5865;
			border-bottom: 1px solid #4E5865;
		}
	}	

	.more-links {
		top: -10px;
	}

	.header__mobile-collapse {
		padding: 0px 0 13px 0;
	}

	.navigation__product-categories {
		width: 970px;
		padding: 0 15px;
		li {
		}
	}

	.more-links__dropdowns {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 158px;
	}

}

@media (min-width: 1200px) {
	.navigation__product-categories {
		width: 1170px;
		padding: 0 15px;
		li {
		}
	}
	.more-links__dropdowns {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 158px;
	}
}