// Container
.hero {
	position: relative;
	overflow: hidden;
	max-height: 1600px;
}

// Background Image/Video
.hero__background-container {
	position: relative;
	max-height: 960px;
	overflow: hidden;

}

.hero__cutoff.replaced-svg {
	bottom: -1px; // fixes where slight gap appears
}

.hero-image {
	position: relative;
}

.hero-video {
	position: relative;
	width: 100%;
	height: auto;
	width: 200%;
	margin-left: -50%;
	// display: block;
}

.hero__cutoff--mobile {
	position: absolute;
	bottom: 100%;
	height: 100%;
	width: 100%;
	margin-bottom: 10px;
}

// Text
// .hero__foreground-container {
// 	position: absolute;
// 	top: 0;
// 	height: 100%;
// }

.letter-grid__letter {
    width: 33%;
    display: inline-block;

    &:nth-child(3n+1) {
    	margin-left: 0;
    	text-align: left;
    }
    &:nth-child(3n+2) {
    	margin-left: -4px;
    	text-align: center;
    }
    &:nth-child(3n+3) {
    	margin-left: -4px;
    	text-align: right;
    }
}

.letter-grid {
	position: absolute;
	top: 0;
	margin-top: -25px;
	padding-top: 90px;
	z-index: 2;
}

.text-wrap {
	position: absolute;
	height: 100%;
	padding: 0;
}

.brit-logo {
	padding-top: 90px;
	width: 115px;
	float: right;
}

.hero-text {
	position: absolute;
	bottom: 0;
	z-index: 1;
	// &:after {
	//     content: ' ';
	//     background-image: url('/../source/img/cutoff-blue.svg');
	//     height: 100px;
	//     left: 0;
	//     bottom: 100%;
	//     width: 100%;
	//     position: absolute;
	//     background-size: 100% 70%;
	//     display: block;
	//     background-repeat: no-repeat;
	//     background-position: 0 100%;
	// }
}

.hero__lower-text {
	padding-bottom: 30px;
	padding-right: 15px;
}

.hero-text__additional-image {
	position: absolute;
	bottom: 100%;
	margin-left: -15px;
	z-index: 1;
	padding: 0 30px;
}

// Blurred - tiny pre-load image

.pre-loaded {
	-webkit-filter: blur(10px);
	overflow: hidden;
	transform: scale(1.03);
	transition: opacity 1s linear;
}

.post-loaded {
	opacity: 1;
}

.vertical-cutoff {

}


.hero__background-wrapper {
	z-index: 1;
	padding: 0;
	position: relative;
}

.more-link__hero {
	color: $yellow;
	padding: 10px 0; 
	span {
		border: 1px solid;
		padding: 5px 15px;
	}
}

.hero__background-container {
	// this is the diagonal line
	// &:before {
	//     content: ' ';
	//     height: 100%;
	//     width: 1px;
	//     background-color: #ffff00;;
	//     position: absolute;
	//     z-index: 0;
	//     left: 88%;
	//     top: 0;
	//     transform: skew(-24deg);
	//     z-index: 1;
	// }
	
	// cutoff
	// todo: check if this cutoff is necessary, maybe move to it's own class
	&:before {
		content: ' ';
		width: 35%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 65%;
		display: block;
		z-index: 2;
		background-image: url('/../source/img/vertical-cut-blue.svg');
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	&.hide-cutoff:before {
		display: none;
	}

}

.hero__background-container--red-cut {
	&:before {
		background-image: url('/../source/img/vertical-cut-red.svg');

	}
}

.hero__background-container--grey-cut {
	&:before {
		background-image: url('/../source/img/vertical-cut-grey.svg');

	}
}

.hero__background-container--flip {
	&:before {
		left: 0;
		background-image: url('/../source/img/vertical-cut-left-blue-gradient.svg');
		background-size: 100%;
		z-index: 1;
	}
}


.horizontal__cutoff {
	&:after {
		content: ' ';
		width: 100%;
		height: 70%;
		position: absolute;
		bottom: 0;
		display: block;
		z-index: 1;
		background-image: url('/../source/img/cutoff-blue-small.svg');
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	&.horizontal__cutoff--fff:after {
		background-image: url("/../source/img/cutoff-fff.svg");
	}

	&.horizontal__cutoff--white:after {
		background-image: url("/../source/img/cutoff-light-white.svg");
	}

	&.horizontal__cutoff__above-content:after {
		bottom: 100%;
		left: 0;
	}
}

@media (max-width: 767px) {
	.hero-text {
		background-color: #303e47;
	}
	.hero__background-container {
		&:before {
			z-index: 0;
		}
	}

	.hero__background-container--small-screen {
		&:before {
			content: ' ';
			width: 157%;
			left: 25%;
			z-index: 0;
		}
	}
	.hero__background-container--small-screen--large-cut {
		&:before {
			content: ' ';
			width: 75%;
			left: 25%;
			z-index: 0;
		}
	}

	.hero-text__complementary-img__background:before {
	 	content: ' ';
	 	position: absolute;
	 	width: 100%;
	 	height: 50%;
	 	background-color: #303E47;
	 	left: 0;
	 	top: -50%;
	}

	.hero-text__complementary-img__background--white {
		background-color: #dadee1;
		&:before {
			background-color: #dadee1;
		}
	}
	
	.hero-image--small {
		margin-top: 70px; // pushes img below nav
	}
}

@media (min-width: 768px) {

	.hero__cutoff {
		height: 60%;
		position: absolute;
		bottom: 0;
		display: block;
		z-index: 1;
	}
	
	.hero-text {
		margin-bottom: 0;
		z-index: 2;
		&:after {
	    	display: none;
		}
	}

	.hero-text--relative {
		position: relative;
	}

	.hero-text__additional-image {
		padding: 0;
	}

	.hero__lower-text {
		padding-right: 0;
	}

	.letter-grid {
		padding-top: 130px;
	}

	.letter-grid--relative {
		position: relative;
	}

	.letter-grid__letter {
		font-size: 48px;
	}

	.letter-grid--lounge {
		.letter-grid__letter {
			font-size: 28px;
		}
	}

	.brit-logo__container {
		z-index: 2;
	}

	.hero-video {
		width: 100%;
		margin-left: 0%;
	}
	.brit-logo {

	}
// end	
}

@media (min-width: 992px) {
	.letter-grid__letter {
		font-size: 54px;
		padding-bottom: 10px;
	}
	
	.letter-grid--lounge {
		.letter-grid__letter {
			font-size: 34px;
		}
	}

	.brit-logo {

	}
	.hero-text {
		margin-bottom: 30px;
	}
}

@media (min-width: 1200px) {
	.hero-text {
		margin-bottom: 50px;
	}
	.letter-grid {
		padding-top: 130px;
	}
	.letter-grid__letter {
		font-size: 64px;
		padding-bottom: 30px;
	}

	.letter-grid--lounge {
		.letter-grid__letter {
			font-size: 42px;
		}
	}

	.brit-logo {
		padding-left: 8px; // align with More Links
	}

}