// Container
.hero {
	position: relative;
	overflow: hidden;
	max-height: 1600px;
}

// Background Image/Video
.hero__background-container {
	position: relative;
	max-height: 960px;
	overflow: hidden;
}

.hero__cutoff.replaced-svg {
	bottom: -1px; // fixes where slight gap appears
}

.hero-image {
	position: relative;
}

.hero-video {
	position: relative;
	width: 100%;
	height: auto;
	width: 200%;
	margin-left: -50%;
	// display: block;
}

.hero__cutoff--mobile {
	position: absolute;
	bottom: 100%;
	height: 100%;
	width: 100%;
	margin-bottom: 10px;
}

// Text
// .hero__foreground-container {
// 	position: absolute;
// 	top: 0;
// 	height: 100%;
// }

.get-closer__letter {
    width: 33%;
    display: inline-block;

    &:nth-child(3n+1) {
    	margin-left: 0;
    	text-align: left;
    }
    &:nth-child(3n+2) {
    	margin-left: -4px;
    	text-align: center;
    }
    &:nth-child(3n+3) {
    	margin-left: -4px;
    	text-align: right;
    }
}

.text-wrap {
	position: relative;
	height: 100%;
}

.get-closer {
	position: absolute;
	top: 0;
	margin-top: -25px;
	padding-top: 90px;
	padding-left: 30px;
	z-index: 2;
}

.brit-logo {
	padding-top: 90px;
}

.hero-text {
	position: absolute;
	bottom: 0;
	padding: 0;
}

.hero-text:after {
    content: ' ';
    background-image: url('/../source/img/cutoff-blue.svg');
    height: 100px;
    bottom: 100%;
    width: 100%;
    position: absolute;
    background-size: 100% 70%;
    display: block;
    background-repeat: no-repeat;
    background-position: 0 100%;
}

.hero__lower-text {
	padding-left: 30px;
	padding-bottom: 20px;
	padding-right: 15px;
}

// Blurred - tiny pre-load image

.pre-loaded {
	-webkit-filter: blur(10px);
	overflow: hidden;
	transform: scale(1.03);
	transition: opacity 1s linear;
}

.post-loaded {
	opacity: 1;
}

@media (max-width: 767px) {
	.hero-text {
		background-color: #3D4550;
	}
}

@media (min-width: 768px) {

	.hero__cutoff {
		height: 60%;
		position: absolute;
		bottom: 0;
		display: block;
	}
	.hero-text {
		margin-bottom: 0;
		&:after {
	    	display: none;
		}
	}

	.hero__lower-text {
		padding-right: 0;
	}

	.get-closer {
		padding-top: 130px;
	}
	.get-closer__letter {
		font-size: 48px;
	}
	.hero-video {
		width: 100%;
		margin-left: 0%;
	}
	.brit-logo {
		padding-left: 24px; // align with More Links
	}
// end	
}

@media (min-width: 992px) {
	.get-closer__letter {
		font-size: 54px;
		padding-bottom: 10px;
	}
	.brit-logo {
		padding-left: 0;
	}
	.hero-text {
		margin-bottom: 30px;
	}
}

@media (min-width: 1200px) {
	.hero-text {
		margin-bottom: 50px;
	}
	.get-closer {
		padding-top: 130px;
	}
	.get-closer__letter {
		font-size: 64px;
		padding-bottom: 30px;
	}
	.brit-logo {
		padding-left: 8px; // align with More Links
	}
}