.newsletter-signup {
	margin-top: 20px;
	margin-bottom: 40px;
	font-family: $brown-regular;
	:placeholder-shown {
	  color: $black;
	  text-transform: uppercase;

	}
	.form-group {
		width: 100%;
	}
	.form-control {
		width: 100%;
		border-radius: 0;
		&:focus {
			border-color: #CCCCCC;
			outline: 0;
			box-shadow: none;
		}
	}
	input {
		width: 100%;
		border-radius: 0;
		text-transform: uppercase;
	}
}


.lounge__filter__item {
	padding-right: 20px;
}

.lounge__more-link--small {
    text-align: right;
    padding: 5px 15px 20px;
    span {
    	padding: 5px 15px;
     	border: 1px solid ;
    }
}

@media (min-width: 768px) {
 
	.lounge__article {
		&:nth-of-type(3n+2) {
			margin-left: -4px;
		}
		&:nth-of-type(3n+3) {
			margin-left: -4px;
		}
	}
	.newsletter-signup {
		.form-group {
			width: 30%;
			&:nth-of-type(3n+2) {
				margin-left: -4px;
			}
			&:nth-of-type(3n+3) {
				margin-left: -4px;
			}
		}
		.form-control {
			width: 95%;
		}
		input {
			width: 10%;
			margin-left: -4px;
		}
	}

}

