@font-face {
	font-family: 'brown-regular';
	src: url("/../source/fonts/Brown-Regular.otf") format("opentype");
}

@font-face {
	font-family: 'brown-thin';
	src: url("/../source/fonts/Brown-Thin.otf") format("opentype");
}

@font-face {
	font-family: 'tisa-pro-light';
	src: url("/../source/fonts/TisaPro-Light.otf") format("opentype");
}

$brown-regular: 'brown-regular', 'comic sans';

$brown-thin: 'brown-thin', 'comic sans';

$tisa-pro-light: 'tisa-pro-light', 'comic sans';

body {
	color: #3d4550;
}

.brown-regular {
	font-family: $brown-regular;
}

.brown-thin {
	font-family: $brown-thin;
}

.tisa-pro-light {
	font-family: $tisa-pro-light;
}

.uppercase {
	text-transform: uppercase;
}

.heading {
	font-family: $tisa-pro-light;

}

.headline {
	font-family: $tisa-pro-light;
	font-kerning: normal;
}

.headline__front-page--small {
	
}

.sub-heading {
	font-family: $brown-regular;
	font-size: 14px;
}

.sub-heading--yellow {
	color: $yellow;
}

p {
	font-family: $tisa-pro-light;
}

.date {
	font-family: $brown-regular;
	font-size: 12px;
	text-transform: uppercase;
	color: $pink;
}

.author {
	font-family: $brown-regular;
	color: $pink;
}

.get-closer__letter {
	font-family: $brown-thin;
	font-size: 64px;
	color: #FAE03B;
}

// Main navigation
.navigation {
	font-size: 12px;
	font-family: $brown-regular;
}

.navigation__item {
	text-transform: uppercase;

}

.navigation__product-categories {
	font-size: 12px;
	font-family: $brown-regular;
	text-transform: uppercase;
	li {
		text-align: center;
	}
}

// Content

.category__page-heading {
	font-family: $brown-thin;
	color: $yellow;
	text-transform: uppercase;
	font-kerning: normal;
}

.category__page-title--title {
    font-size: 8vw;
    letter-spacing: 0.5em;
    font-kerning: normal;
}

.category__page-title--sub-title {
    font-size: 5vw;
    letter-spacing: 0.25em;
    font-kerning: normal;
}


.more-link {
	font-size: 12px;
	font-family: $brown-regular;
	text-transform: uppercase;
	padding-left: 10px;
	color: $pink;
	cursor: pointer; // todo: remove, prototype only
}

.playlist-title {
	font-family: $brown-regular;
	font-size: 12px;
	text-transform: uppercase;
}

.footer__links {
	font-size: 12px;
	font-family: $brown-regular;
	text-transform: uppercase;
}

.strapline {
	text-transform: uppercase;
}

.article-headline {
	font-size: 48px;
}


.article-quote {
	text-align: center;
	font-size: 28px;
	font-style: italic;
	font-family: $tisa-pro-light;
}

@media (min-width: 768px) {
	
	.category__page-title--title {
		// font-size: 76px;
		letter-spacing: 0.5em;
	}

	.category__page-title--sub-title {
		// font-size: 38px;
		font-size: 2.5vw;
		letter-spacing: 0.5em;
	}

}

@media (min-width: 1200px) {
	.category__page-title--title {
		font-size: 112px;
		letter-spacing: 0.5em;
	}

	.category__page-title--sub-title {
	}

}

